.App {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    height: 100%;
}

.App > .selects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em 0;
}

.App > .grafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: coral;
    height: 36.34rem;
}

.App > .grafico1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 16px;
    padding: 5rem 10rem;
}